.vscode/*
*/.vscode/*
.DS_Store
.idea/*

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
server/blog-api

# Test binary, built with `go test -c`
*.test

# Vim Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

#################
#client files
#################

# dependencies
client/node_modules
client/.pnp
client.pnp.js

# testing
client/coverage

# production
client/build

# misc
client.DS_Store
client.env.local
client.env.development.local
client.env.test.local
client.env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*